
:root {
  --bg-color: #1e1e1e;
  --fg-color: #ffffff;
  --primary-color: #bdbdbd;
  --secondary-color: #4a4a4a;
  --button-hover-color: #f2f2f2;
  --button-box-shadow-color: rgba(0, 0, 0, 0.3);
  --button-bg-color: transparent;
  --button-border-color: #bdbdbd;
  --button-text-color: #bdbdbd;
  --button-hover-bg-color: #bdbdbd;
  --button-hover-border-color: #bdbdbd;
  --button-hover-text-color: #1e1e1e;
}

@font-face {
  font-family: 'Panton';
  src: url('fonts/Panton.ttf') format('truetype');
}

body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: sans-serif;
  font-size: 16px;
  color: #333333;
}

.button {
  background-color: var(--button-bg-color);
  border: 2px solid var(--button-border-color);
  color: var(--button-text-color);
  font-size: 1.2rem;
  padding: 1rem 2rem;
  margin-bottom: 20px;
  border-radius: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px var(--button-box-shadow-color);
}

.button:hover {
  background-color: var(--button-hover-bg-color);
  color: var(--button-hover-text-color);
  cursor: pointer;
  box-shadow: 0 4px 8px var(--button-box-shadow-color);
}

/* Color scheme */

