body {
    background-color: #1e1e1e;
  }

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .homepage-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .homepage-title {
    font-size: 4rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  
  .homepage-subtitle {
    font-size: 2rem;
    color: #e0e0e0;
    margin-bottom: 3rem;
  }
  
  .homepage-button {
    background-color: #bdbdbd;
    border: none;
    color: #1e1e1e;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin-bottom: 20px;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .homepage-button:hover {
    background-color: #f2f2f2;
    color: #1e1e1e;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  

  .captures-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 100%;
  }

  .recent-captures-container {
    margin: 10px 10px 0px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    width: 100%;
  }
  
  .recent-capture {
    background-color: #ffffff;
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
  }
  
  .recent-capture p {
    text-align: center;
    font-size: 1.0rem;
    font-weight: 500;
    color: #4a4a4a;
  }

  .recent-capture:hover {
    transform: translateY(-10px);
    cursor: pointer;

  }

  .view-all-button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .view-all-button {
    background-color: transparent;
    border: 2px solid #bdbdbd;
    color: #bdbdbd;
    font-size: 0.8rem;
    padding: 0.5rem;
    border-radius: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.3s ease;
  }
  
  .view-all-button:hover {
    background-color: #bdbdbd;
    border: 2px solid #bdbdbd;
    color: #1e1e1e;
    cursor: pointer;
  }
  
  